Django==6.0.5
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
djoser==2.3.3
django-cors-headers==4.9.0
django-filter==25.2
drf-nested-routers==0.95.0
drf-yasg==1.21.15
dj-database-url==3.1.2
python-decouple==3.8
gunicorn==26.0.0
whitenoise==6.12.0
psycopg2-binary==2.9.12
Pillow==12.2.0
phonenumbers==9.0.27
social-auth-app-django==5.9.0
social-auth-core==4.9.1
requests==2.34.2
PyJWT==2.13.0
sqlparse==0.5.5
asgiref==3.11.1
urllib3==2.7.0
certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.16
PyYAML==6.0.1
uritemplate==4.2.0
inflection==0.5.1
packaging==26.2
pytz==2024.1
